.instructor-page-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, rgba(255, 0, 0, 0.356) 0%, white 51%, rgba(0, 0, 255, 0.404) 100%);
}

.instructor-page-container h2 {
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to top, #14213d, #e5e5e5);
}

.instructor-page-container .btn-contain {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 3rem 3rem 0;
}
.instructor-page-container .form-add-class {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.instructor-page-container .form-add-class input {
  margin: 0.5rem 0;
  width: 16rem;
  height: 3rem;
  border-radius: 5px;
  padding-left: 1rem;
  font-size: 2rem;
}

.instructor-page-container .createClassBtn {
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0, 0, 10px rgba(0, 0, 0, 1);
  background-color: gray;
}

.instructor-page-container .inst-btn {
  background: #14213d;
  text-shadow: 0 0 5px rgb(255, 255, 255, 0.5);
  border-radius: 1.5rem;
  padding: 2rem 3rem;
  box-shadow: inset 0 0 15px 15px rgba(255, 255, 255, 0.267);
}
