.instructor-class-container {
  width: 100%;
  padding: 0 2rem;
  /* display: grid;
  grid-template-columns: repeat(3, 25%);
  grid-auto-flow: row;
  justify-items: center;
  justify-content: space-around; */
  display: flex;
  flex-wrap: wrap;
}

.edit-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: rgb(29, 64, 95);
  border: solid rgba(155, 155, 155, 0.651) 6px;
  border-radius: 2rem;
  width: 30rem;
  padding: 3rem;
  box-shadow: 0 0 20px 20px #e5e5e557;
  background-color: rgba(255, 255, 255, 0.705);
  margin: 4rem 4rem;

}

.edit-card input {
  margin-left: 1rem;
}
.edit-card button {
  background-color: #3a3a3a94;
  color: #14213d;
  font-size: 1.5rem;
  padding: 3px 10px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-top: 2rem;
  border-radius: 5px;
}

.course-card {
  /* border: solid gray 6px; */
  border-radius: 2rem;
  width: 30rem;
  padding: 3rem;
  background-color: #e5e5e5cb;
  margin: 3rem 2rem;
  border:5px solid #e5e5e557;
}

.course-card:hover {
  box-shadow: 0 0 10px 10px #e5e5e5;
}


.course-card h4 {
  font-size: 3rem;
  margin-top: 0;
  padding-top: 0;
  text-decoration: underline;
}

.course-card button {
  background-color: #64646494;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 3px 10px;
  /* display: flex; */
  align-items: center;
  text-transform: uppercase;
  margin-top: 2rem;
  border-radius: 5px;
  margin-right: 20px;
  
}

.course-card p:hover{
  text-shadow: 0 0 10px  #14213d;
  filter: saturate(120%);
}

.edit-btn{
  margin: 0;
}